<div class="new-arrivals">
    
    <div class="arrivals-heading">
        <h1>Latest Arrivals On Popular Brands</h1>
    </div>
    <app-content>
        <h3 class="title">New Arrivals On Adidas</h3>
        <button class="learn-more-btn">Learn More Adidas</button>
    </app-content>

    <app-content>
        <h3 class="title">New Arrivals On Nike</h3>
        <button class="learn-more-btn">Learn More Nike</button>
    </app-content>

    <app-content>
        <h3 class="title">New Arrivals On Woodland</h3>
        <button class="learn-more-btn">Learn More Woodland</button>
    </app-content>
</div>